@use 'sass:list';

$transition-easing: linear !default;
$transition-duration: 0.25s !default;

@mixin transition($properties...) {
  $transitions: null;

  @if length($properties) > 0 {
    @each $property in $properties {
      @if $property == null or $property == none {
        @warn "transition #{$property}: 'none' or 'null' must be used as a single argument.";
      } @else {
        $transitions: list.append($transitions, transition-property($property), $separator: comma);
      }
    }
  } @else {
    $transitions: transition-property(all);
  }

  @if length($transitions) > 0 {
    transition: $transitions;
  }
}

@function transition-property($property) {
  @return $property $transition-easing $transition-duration;
}
